<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

  <!-- <proxies>
    <proxy>
      <id>example-proxy</id>
      <active>true</active>
      <protocol>http</protocol> OR <protocol>https</protocol>
      <host>proxyHost</host>
      <port>3128</port>
      <username>username</username>
      <password>password</password>
    </proxy>
  </proxies> -->

  <!-- <servers>
    <server>
      <id>rhdm</id>
      <username>${env.MAVEN_USR}</username>
      <password>${env.MAVEN_PWD}</password>
    </server>
  </servers> -->

  <!-- <profiles>
    <profile>
      <id>rhdm</id>
      <repositories>
        <repository>
          <id>rhdm</id>
          <url>http://localhost:8080/decision-central/maven2/</url>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>always</updatePolicy>
          </releases>
          <snapshots>
            <enabled>true</enabled>
            <updatePolicy>always</updatePolicy>
          </snapshots>
        </repository>
      </repositories>
    </profile>
  </profiles> -->

  <!-- <activeProfiles>
    <activeProfile>rhdm</activeProfile>
  </activeProfiles> -->

</settings>
