embed-server --server-config=standalone-full.xml

    if (outcome != "success") of /system-property=org.kie.example:read-resource
        /system-property=org.kie.example:add(value="{{ org_kie_example }}")
    end-if
    if (outcome != "success") of /system-property=org.jbpm.designer.perspective:read-resource
        /system-property=org.jbpm.designer.perspective:add(value="{{ org_jbpm_designer_perspective }}")
    end-if
    if (outcome != "success") of /system-property=designerdataobjects:read-resource
        /system-property=designerdataobjects:add(value="{{ designerdataobjects }}")
    end-if
    if (outcome != "success") of /system-property=org.kie.workbench.profile:read-resource
        /system-property=org.kie.workbench.profile:add(value="{{ org_kie_workbench_profile }}")
    end-if
    if (outcome != "success") of /system-property=org.jbpm.server.ext.disabled:read-resource
        /system-property=org.jbpm.server.ext.disabled:add(value="{{ org_jbpm_server_ext_disabled }}")
    end-if
    if (outcome != "success") of /system-property=org.jbpm.ui.server.ext.disabled:read-resource
        /system-property=org.jbpm.ui.server.ext.disabled:add(value="{{ org_jbpm_ui_server_ext_disabled }}")
    end-if
    if (outcome != "success") of /system-property=org.uberfire.nio.git.hooks:read-resource
        /system-property=org.uberfire.nio.git.hooks:add(value="{{ org_uberfire_nio_git_hooks }}")
    end-if
    if (outcome != "success") of /system-property=appformer.git.hooks.bundle:read-resource
        /system-property=appformer.git.hooks.bundle:add(value="{{ appformer_git_hooks_bundle }}")
    end-if
    if (outcome != "success") of /system-property=org.uberfire.nio.git.dir:read-resource
        /system-property=org.uberfire.nio.git.dir:add(value="{{ org_uberfire_nio_git_dir }}")
    end-if
    if (outcome != "success") of /system-property=org.uberfire.metadata.index.dir:read-resource
        /system-property=org.uberfire.metadata.index.dir:add(value="{{ org_uberfire_metadata_index_dir }}")
    end-if
    if (outcome != "success") of /system-property=org.uberfire.nio.git.ssh.cert.dir:read-resource
        /system-property=org.uberfire.nio.git.ssh.cert.dir:add(value="{{ org_uberfire_nio_git_ssh_cert_dir }}")
    end-if
    if (outcome != "success") of /system-property=appformer.ssh.keys.storage.folder:read-resource
        /system-property=appformer.ssh.keys.storage.folder:add(value="{{ appformer_ssh_keys_storage_folder }}")
    end-if
    if (outcome != "success") of /system-property=org.appformer.m2repo.url:read-resource
        /system-property=org.appformer.m2repo.url:add(value="{{ org_appformer_m2repo_url }}")
    end-if
    if (outcome != "success") of /system-property=org.guvnor.m2repo.dir:read-resource
        /system-property=org.guvnor.m2repo.dir:add(value="{{ org_guvnor_m2repo_dir }}")
    end-if
    if (outcome != "success") of /system-property=kie.maven.settings.custom:read-resource
        /system-property=kie.maven.settings.custom:add(value="{{ kie_maven_settings_custom }}")
    end-if
    if (outcome != "success") of /subsystem=security/security-domain=other/authentication=classic/login-module=org.kie.security.jaas.KieLoginModule/:query
        /subsystem=security/security-domain=other/authentication=classic/login-module=org.kie.security.jaas.KieLoginModule:add(code="org.kie.security.jaas.KieLoginModule",flag="optional",module="deployment.business-central.war")
    end-if

stop-embedded-server
