embed-server --server-config=standalone-full.xml

    if (outcome != "success") of /system-property=org.uberfire.nio.git.hooks:read-resource
        /system-property=org.uberfire.nio.git.hooks:add(value="{{ org_uberfire_nio_git_hooks }}")
    end-if
    if (outcome != "success") of /system-property=org.uberfire.nio.git.dir:read-resource
        /system-property=org.uberfire.nio.git.dir:add(value="{{ org_uberfire_nio_git_dir }}")
    end-if
    if (outcome != "success") of /system-property=org.uberfire.metadata.index.dir:read-resource
        /system-property=org.uberfire.metadata.index.dir:add(value="{{ org_uberfire_metadata_index_dir }}")
    end-if
    if (outcome != "success") of /system-property=org.uberfire.nio.git.ssh.cert.dir:read-resource
        /system-property=org.uberfire.nio.git.ssh.cert.dir:add(value="{{ org_uberfire_nio_git_ssh_cert_dir }}")
    end-if
    if (outcome != "success") of /system-property=org.guvnor.m2repo.dir:read-resource
        /system-property=org.guvnor.m2repo.dir:add(value="{{ org_guvnor_m2repo_dir }}")
    end-if
    if (outcome != "success") of /system-property=kie.maven.settings.custom:read-resource
        /system-property=kie.maven.settings.custom:add(value="{{ kie_maven_settings_custom }}")
    end-if

    /interface=public/:write-attribute(name=inet-address,value={{ jboss_bind_address }})
    /socket-binding-group=standard-sockets/socket-binding=http:write-attribute(name=port, value={{ jboss_http_port }})
    /socket-binding-group=standard-sockets/socket-binding=https:write-attribute(name=port, value={{ jboss_https_port }})
    /socket-binding-group=standard-sockets:write-attribute(name=port-offset, value={{ jboss_socket_binding_port_offset }})

stop-embedded-server
