<kie-server-state>
  <controllers/>
  <configuration>
    <configItems/>
  </configuration>
  <containers>
  {% for container in rhdm_server_containers %}
  <container>
      <containerId>{{ container.containerId }}</containerId>
      <releaseId>
        <groupId>{{ container.releaseId.groupId }}</groupId>
        <artifactId>{{ container.releaseId.artifactId }}</artifactId>
        <version>{{ container.releaseId.version }}</version>
      </releaseId>
      <status>STARTED</status>
      <scanner>
        <status>STARTED</status>
        <pollInterval>10000</pollInterval>
      </scanner>
      <configItems/>
      <messages/>
    </container>
  {% endfor %}
</containers>
</kie-server-state>
