<kie-server-state>
  <controllers/>
  <configuration>
    <configItems>
      <config-item>
        <name>org.kie.executor.disabled</name>
        <value>{{ org_kie_executor_disabled }}</value>
        <type>java.lang.String</type>
      </config-item>
      <config-item>
        <name>org.kie.server.id</name>
        <value>{{ org_kie_server_id }}</value>
        <type>java.lang.String</type>
      </config-item>
      <config-item>
        <name>org.kie.server.mode</name>
        <value>{{ org_kie_server_mode }}</value>
        <type>java.lang.String</type>
      </config-item>
    </configItems>
  </configuration>
  <containers>
  {% for container in rhdm_server_containers %}
  <container>
      <containerId>{{ container.containerId }}</containerId>
      <releaseId>
        <groupId>{{ container.releaseId.groupId }}</groupId>
        <artifactId>{{ container.releaseId.artifactId }}</artifactId>
        <version>{{ container.releaseId.version }}</version>
      </releaseId>
      <status>STARTED</status>
      <scanner>
        <status>STARTED</status>
        <pollInterval>10000</pollInterval>
      </scanner>
      <configItems/>
      <messages/>
    </container>
  {% endfor %}
</containers>
</kie-server-state>
