[Unit]
Description=JBoss EAP Service
After=network.target

[Service]
Type=forking
ExecStart={{ jboss_eap_svc_home }}/bin/init.d/jboss-eap-rhel.sh start
ExecStop={{ jboss_eap_svc_home }}/bin/init.d/jboss-eap-rhel.sh stop

[Install]
WantedBy=multi-user.target
